[submodule "g.raffe"]
	path = g.raffe
	url = git@github.com:dancmj/g.raffe.git
[submodule "hackernation"]
	path = hackernation
	url = git@github.com:dancmj/hackernation.git
[submodule "ampliconer"]
	path = amplicons
	url = git@github.com:dancmj/ampliconer.git
