[submodule "graph-visualizer"]
	path = graph-visualizer
	url = git@github.com:dancmj/graph-visualizer.git
[submodule "hackernation"]
	path = hackernation
	url = git@github.com:dancmj/hackernation.git
